<%- include('./reusable/admin_reusable') %>
<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <style>
    body{background-color: #f9f3f3;}
   /* Define styles for the content area */
    .content {
      margin-left: 250px; /* Adjust the margin to match the sidebar width */
      padding: 20px;
      transition: 0.5s;
      text-align: right;
    }
    .success{
      margin-left: 250px;
      font-weight: bold;
    }
    input[type=number]
        {
        margin-left: 50px;
        display: inline-block;
        border: none;
        background: #f9f3f3;
        font-weight: bold;
        font-size: 35px;
        
          }
          
          
        
  </style>
</head>
<body> <!-- Content Area -->
  <div class="content" id="content">
    <h1>Welcome to the Admin Panel</h1>
  </div>
<br><br><br>
    <div class="success">
      <label for="successful"><h3>Total Succesful flights of the day:</h3></label>
      <input type="number" id="successful" name="successful" style="color:green;" value="<%-successful%>" readonly>
  



    <label for="crashes"><h3>Total crashes of the day:</h3></label>
    <input type="number" id="crashes" name="crashes" style="color:red;" value="<%-crashes%>" readonly>
</div>

  
</body>
</html>
